
:root{
  --roboto-slab: 'Roboto-Slab', serif;
  --raleway: 'Raleway', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --header-bg: #1E280B;
  --header-pri-color: #FBFDF7;
  --header-sec-color: #888888;
}

html{
  box-sizing: border-box;
  font-size: 100%;
  background: #FBFDF7;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0 3rem;
}